.combobox{
    width: 100%;
}

.combobox .combobox__label{
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}

.combobox .combobox__warp{
    border-radius: var(--BorderRadius);
    border: 1px solid var(--ColorBorder);
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.combobox .combobox__warp--focus{
    border: 1px solid var(--LightGreen500);
}

.combobox .combobox__warp--alert{
    border: 1px solid var(--ColorAlert);
}


.combobox .combobox__input{
    padding: 8px;
    flex: 1;
    outline: none;
    border: none;
}

.combobox .combobox__button{
    position: relative;
    height: 100%;
    width: 36px;
}

.combobox .combobox__icon::before{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -368px -360px;
    content: "";
}

.combobox .combobox__button--open{
    background-color: var(--ColorPrimaryTextWhite);
    height: 100%;
    width: 36px;
}

.combobox .combobox__button--open .combobox__icon::before{
    transform: rotate(180deg);
    margin-left: 7px;
    margin-top: 5px;
}

.combobox .combobox__options{
    display: none;
    background-color: var(--ColorBackgroundWhite);
    position: absolute;
    width: 100%;
    max-height: 200px;
    border-radius: var(--BorderRadius);
    border: 1px solid var(--ColorBorder);
    overflow-y: auto;
    z-index: 1;
    box-sizing: border-box;
}


.combobox .combobox__options--show{
    display: block;
}

.combobox .combobox__item{
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px;
}

.combobox .combobox__item:hover{
    background-color: var(--LightGreen500);
    color: var(--ColorBackgroundWhite)
}

.combobox .combobox__item:active{
    background-color: var(--LightGreen600);
    color: var(--ColorBackgroundWhite)
}