.icon{
    position: relative;
    width: 20px;
    height: 20px;
}
.icon::before{
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -424px -32px;
    scale: 83%;
    content: "";
}